<?xml version="1.0"?>
<launch>
   <arg name="port" default="/dev/ttyUSB0"/>
   <arg name="baudrate" default="4800"/>
   
   <node name="gps_node" pkg="gps_driver" type="driver.py" output="screen" clear_params="true">
     <param name="port" value="$(arg port)" />
     <param name="baudrate" value="$(arg baudrate)" />
   </node>
</launch>
